<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leagues</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Join</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="league : ${leagueList}">
                <tr>
                    <td th:text="${league.getName()}">League name</td>
                    <td>
                        <form action="/join-league" method="POST">
                            <input type="hidden" th:value="${league.getId()}" id="leagueId" name="leagueId">
                            <button type="submit">Join</button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>